.mentors_list {
  max-height: 80vh;
  overflow-y: scroll;

  > div:not(:last-child) {
    margin-bottom: 0.5rem;
  }
}

.mentors_list_header {
  margin-bottom: 1rem;
}

.tab_header {
  div:hover {
    border-bottom: 2px solid #058b94;
  }
}

.tab_title {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  color: #4a4a4a;
  font-weight: 400;
}
